@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
body{
    font-family: "Poppins", system-ui;
    font-style: normal;
}
.parisienne-regular {
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
}
/* Define the container-xl class with max-widths for different breakpoints */
.container-xl {
  width: 100%;
  max-width: 1420px; /* Bootstrap's container-xl max-width */
  padding-left: 1.5rem; /* Bootstrap's default horizontal padding */
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

/* Define the container-2xl class with max-widths for different breakpoints */
.container-2xl {
  width: 100%;
  max-width: 1920px; /* Custom container-2xl max-width */
  margin-left: auto;
  margin-right: auto;
}

/* Responsive adjustments */
@media (min-width: 576px) { /* Small devices (sm) */
  .container-xl{
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 768px) { /* Medium devices (md) */
  .container-xl {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 992px) { /* Large devices (lg) */
  .container-xl{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1200px) { /* Extra large devices (xl) */
  .container-xl {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1400px) { /* Extra extra large devices (xxl) */
  .container-xl{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
